<section class="hero is-success">
    <div class="hero-body">
        <h1 class="title">資料一覧</h1>
    </div>
</section>
<section>
    <div class="container" style="margin-top:5%;">
        <article class="panel is-primary">
            <p class="panel-tabs">
                <%=link_to "All",subject_index_path(group:"all")%>
                <%=link_to "あり",subject_index_path(group:"is")%>
                <%=link_to "なし",subject_index_path(group:"notis")%>
                
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                <input class="input is-primary" type="text" placeholder="Search">
                <span class="icon is-left">
                    <ion-icon name="search-outline"></ion-icon>
                </span>
                </p>
            </div>
    
            <% @subject.each do |s|%>
                <div class="panel-block">
                    <span class="panel-icon">
                        <ion-icon name="folder-open-outline"></ion-icon>
                    </span>
                    <%= link_to s.subjectname,:controller => 'document', :action => 'index', content: s.subjectname%>
                </div>
            <%end%>
        </article>
    </div>
</section>
    
