<div class="hero is-primary">
    <div class="section">
        <div class="title">
            <%=@subject.subjectname%>
        </div>
    </div>
</div>

<% if !@subject.test%>
    <h1>テストあり</h1>
<%end%>
