
<section class="hero is-success">
<div class="hero-body">
    <h1 class="title"><%=params[:content]%>資料一覧</h1>
</div>
</section>
<input id="type-nav" value="<%= @nav %>" type="hidden"/>
<section>
    <div id="app">
        <div class="container" style="margin-top:5%;">
            <div class="tabs">
                <ul>
                    <a id="all" @click="ClickNav($event)" style="color:#1e90ff;" >全て</a>
                    <a id="difficult" @click="ClickNav($event)" style="color:#1e90ff;">重要</a>
                    <a id="medium" @click="ClickNav($event)" style="color:#1e90ff;">普通</a>
                    <a id="easy" @click="ClickNav($event)" style="color:#1e90ff;">そんなに</a>
                </ul>
            </div>
            
            <div class="parent">
                <button class="item button"><%= link_to '作成' ,new_document_path(content:params[:content]) %></button>
                <button class="item button" ref="trash" @click="TrashOn()"><ion-icon name="trash-outline"></ion-icon></button>
            </div>

            <article class="panel is-primary" v-if="menu_type == 'all'" style="padding:5px;">
                <div v-for='item in message' class="subject">
                    <label>
                        <input type="checkbox" name="options" v-model="item.checked" ref='checkbox' @click="TrashActive($event,item)" :value='item.title' :id="item.id">
                        <span class="panel-icon">
                            <ion-icon name="bookmark-outline"></ion-icon>
                        </span>
                            <a :href=item.id+'?content='+title>{{ item.title }}</a>
                    </label>
                </div>
            </article>
           
            <article v-else class="panel is-primary">
                <div v-for='item in message'>
                    <div class="panel-block" v-if="menu_type == item.difficulty"  ref="itemlist"> 
                        <label style="margin:10px;">
                            <input type="checkbox" name="options" v-model="item.checked" ref='checkbox' @click="TrashActive($event,item)" :value='item.title' :id="item.id">
                            <span class="panel-icon">
                                <ion-icon name="bookmark-outline"></ion-icon>
                            </span>
                                <a :href=item.id+'?content='+title>{{ item.title }}</a>
                        </label>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


<style>
.item{
    margin-left:10px;
    margin-top:auto;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    align-items:center
    width: 600px;
    margin-bottom:10px;
}
.subject{
    margin:20px 10px 20px 10px;
}

</style>
<%= javascript_include_tag "document.js" %>
