<h1>Document#index</h1>
<p>Find me in app/views/document/index.html.erb</p>

<% @document.each do |d|%>
    <%= link_to document_path(d.id) do%>
        <%= d.subjectname%>
        <%= d.title%>
    <%end%>
<%end%>
<%= link_to '新規作成' ,new_document_path(content:params[:content]) %>